<div id="image-gallery">
    <div class="image-row">
        <div class="image-cell">
            <img src="/pictures/kabu1.gif" alt="Kabu 1">
            <div class="image-number">1</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu2.gif" alt="Kabu 2">
            <div class="image-number">2</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu3.gif" alt="Kabu 3">
            <div class="image-number">3</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu4.gif" alt="Kabu 4">
            <div class="image-number">4</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu5.gif" alt="Kabu 5">
            <div class="image-number">5</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu6.gif" alt="Kabu 6">
            <div class="image-number">6</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu7.gif" alt="Kabu 7">
            <div class="image-number">7</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu8.gif" alt="Kabu 8">
            <div class="image-number">8</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu9.gif" alt="Kabu 9">
            <div class="image-number">9</div>
        </div>
        <div class="image-cell">
            <img src="/pictures/kabu10.gif" alt="Kabu 10">
            <div class="image-number">10</div>
        </div>
    </div>
</div>
