<div id="navbar">
    <button id="players-button">Players</button>
    <button id="rules-button">Rules</button>
    <button id="connect-button">Connect</button>
    <div id="bank">
        Bank: <span id="bank-points">0</span>
    </div>
</div>
